@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.inter-font> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

@font-face {
  font-family: "Miama";
  font-style: italic;
  font-weight: 400;
  src: local("Miama"), url("https://fonts.cdnfonts.com/s/302/Miama-Regular.woff") format("woff");
}

.shape {
  font-family: "Miama";
  font-style: italic;
  font-weight: 400;
  font-size: 150px;
}

.full-body {
  width: 100%;
  margin: 0 auto;
}

.body {
  max-width: 1440px;
  height: 2811px;
  margin: 0 auto;
  background-color: rgb(20, 20, 20);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* banner section styles */
.banner {
  max-width: 1440px;
  height: 715px;
  margin: 0 auto;
  background: linear-gradient(180.00deg, rgb(20, 20, 20), rgb(50, 50, 50) 100%);
  border: 1px solid rgba(48, 48, 48, 0.50);
}

.hamburger i {
  color: rgb(255, 255, 255);
  display: none;
}

.navbar {
  width: 1100px;
  height: 46px;
  margin: 0 auto;
  margin-top: 57px;
  display: flex;
  justify-content: space-between;
}

.nav-title {
  width: 132px;
  height: 43px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}

.nav-title h3 {
  color: rgb(230, 83, 60);
  font-family: "Inter";
  font-size: 36px;
  font-weight: 800;
}

.nav-links a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin-right: 63px;
}

.home {
  width: 92px;
  height: 38px;
  border-radius: 46px;
  background: rgb(230, 83, 60);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 20px 8px 20px;
}

.nav-links {
  width: 465px;
  height: 46px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  display: flex;
  font-family: "inter";
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 4px;
  margin-left: 500px;
}

.body-shape-container {
  width: 1060px;
  height: 580px;
  margin: 0 auto;
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  position: relative;

}

.body-shape-content {
  width: 520px;
  height: 440px;
  margin-top: 60px;
}

.body-shape-title h1 {
  width: 520px;
  height: 282px;
  color: rgb(255, 255, 255);
  font-family: "Inter";
  font-size: 75px;
  font-weight: 800;
  line-height: 90px;
  letter-spacing: 0.5px;
}

.body-shape-description p {
  width: 520px;
  height: 48px;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
  line-height: 20px;
  letter-spacing: 0.5px;
}

.body-shape-btn {
  width: 462px;
  height: 54px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn-primary {
  width: 224px;
  height: 54px;
  border-radius: 42px;
  background: rgb(230, 83, 60);
  color: rgb(255, 255, 255);
  font-family: "Inter";
  font-size: 17px;
  font-weight: 500;
  border: none;
}

.btn-secondary {
  width: 224px;
  height: 54px;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 42px;
  background-color: rgba(20, 20, 20, 0.269);
  color: rgb(255, 255, 255);
  font-family: "Inter";
  font-size: 17px;
  font-weight: 500;
}

.body-shape-image {
  /* position: relative; */
  width: 349px;
  height: 580px;
}

.card {
  display: flex;
}

.card-1 {
  width: 206px;
  height: 96px;
  margin-top: 400px;
  margin-left: 590px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(10px);
  background: rgba(48, 48, 48, 0.50);
  position: absolute;
  color: rgb(255, 255, 255);
}

.card-1 h2 {
  color: rgb(250, 250, 249);
  font-family: "Inter";
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 1px;
  margin-left: 80px;
  margin-top: 15px;
}

.card-1 p {
  color: rgba(239, 237, 232, 0.65);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.3px;
  margin-left: 80px;
  margin-top: 5px;
}

.circle {
  width: 40px;
  height: 40px;
  position: absolute;
  background: rgb(230, 83, 60);
  border-radius: 50px;
  margin-top: 430px;
  margin-left: 615px;


}

.card-2 {
  width: 193px;
  height: 98px;
  position: absolute;
  margin-left: 950px;
  margin-top: 150px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
}

.card-2 h1 {
  color: rgb(255, 255, 255);
  font-family: "Inter";
  font-size: 40px;
  font-weight: 900;
  margin-left: 30px;
  margin-top: 15px;
  letter-spacing: 1px;

}

.card-2 p {
  color: rgba(255, 255, 255, 0.65);
  font-family: "Inter";
  font-size: 13px;
  font-weight: 400;
  margin-left: 30px;
  margin-top: 2px;
  letter-spacing: 1px;
}

.space {
  max-width: 1440px;
  height: 114px;
  background-color: rgba(20, 20, 20);
  margin: 0 auto;
  border: none;
}

/* banner section end */
/* main section styles is here */
.change-habits-container {
  width: 1044px;
  height: 455px;
  margin: 0 auto;
 
}

.change-habits-content {
  width: 671px;
  height: 120px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex start;
  align-items: center;
}

.change-habits-content h1 {
  width: 500px;
  height: 58px;
  display: flex;
  flex-direction: column;
  justify-content: flex start;
  align-items: center;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  font-family: "Inter";
  font-size: 48px;
  font-weight: 900;

}

.change-habits-content p {
  width: 671px;
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.change-habits-container-rules {
  width: 1044px;
  height: 274px;
  margin-top: 58px;
  display: flex;
  justify-content: space-between;
}

.rules-1 {
  width: 231px;
  height: 274px;
}

.rules-1 img {
  width: 180px;
  height: 180px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.450);
  margin-left: 24px;
}

.rules-1-description {
  width: 231px;
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 10px;
}

.rules-1-description h4 {
  width: 200px;
  height: 22px;
  color: rgb(255, 255, 255);
  font-family: "Inter";
  font-size: 18px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  letter-spacing: 1px;

}

.rules-1-description p {
  width: 231px;
  height: 36px;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Inter";
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.3px;
  margin-top: 10px;
}

.rules-2 img {
  width: 180px;
  height: 180px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.450);
  margin-left: 24px;
}

.rules-3 img {
  width: 180px;
  height: 180px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.450);
  margin-left: 24px;
}

.rules-4 img {
  width: 180px;
  height: 180px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.450);
  margin-left: 24px;
}

/* Change your habit section */
.run-extra-container {
  width: 1060px;
  height: 371px;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 18px;
  background: rgb(34, 34, 34);
  display: flex;
  justify-content: space-between;
}

.run-extra-content {
  width: 443px;
  height: 290px;
  margin-top: 41px;
  margin-left: 54px;
  margin-bottom: 40px;
}

.run-extra-content h1 {
  width: 443px;
  height: 116px;
  color: rgb(255, 255, 255);
  font-family: "Inter";
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 1px;
}

.run-extra-content p {
  width: 443px;
  height: 72px;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 20px;
}

.run-image img {
  width: 366px;
  height: 312px;
  margin-top: 30px;
  margin-right: 32px;
  margin-bottom: 29px;
  object-fit: none;
  object-position: 67% 30%;
  border-radius: 18px;

}

/* run extra section end */
/* bmi section styles */
.bmi-container {
  width: 671px;
  height: 120px;
  margin: 0 auto;
  margin-top: 78px;
}

.bmi-container h1 {
  width: 500px;
  height: 58px;
  color: rgb(255, 255, 255);
  font-family: "Inter";
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 1px;
}

.bmi-container p {
  width: 671px;
  height: 48px;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Inter";
  font-size: 12px;
  font-weight: 400;
  margin-top: 20px;
  letter-spacing: 1px;
  line-height: 20px;
}

.bmi-chart-calculation {
  max-width: 1440px;
  height: 487px;
  margin: 0 auto;
  margin-top: 88px;
  background: rgb(34, 34, 34);
  display: flex;
  justify-content: space-between;
}

.bmi-chart h2 {
  width: 443px;
  height: 34px;
  color: rgb(255, 255, 255);
  font-family: "Inter";
  font-size: 28px;
  font-weight: 900;
  letter-spacing: 1px;
  margin-left: 187px;
  margin-top: 52px;
  margin-bottom: 52px;
}

.item {
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: flex start;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  padding: 12px 10px 12px 20px;
}

#item-1 {
  color: rgb(255, 255, 255);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
}

#item-2 {
  color: rgb(255, 255, 255);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
}

.item-container {
  width: 310px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 189px;
  margin-bottom: 133px;
}

.calculate-bmi {
  width: 577px;
  height: 386px;
  margin-right: 189px;
  margin-top: 49px;
}

.calculate-bmi h2 {
  width: 443px;
  height: 34px;
  color: rgb(255, 255, 255);
  font-family: "Inter";
  font-size: 28px;
  font-weight: 900;
  letter-spacing: 1px;
}

.calculate-bmi p {
  width: 577px;
  height: 48px;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 14px;
}

.box {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  font-family: "Inter";
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 20px 12px 20px;
}

.box-container {
  width: 577px;
  height: 168px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin-top: 34px;
  margin-bottom: 34px;

}

#box-5 {
  grid-column: span 2;
}

/* meet our team section styles */
.meet-team-container {
  position: relative;
  width: 1060px;
  height: 782px;
  margin: 0 auto;
  margin-top: 88px;
}

.meet-team-content {
  width: 671px;
  height: 120px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.meet-team-content h2 {
  width: 464px;
  height: 58px;
  color: rgb(255, 255, 255);
  font-family: "Inter";
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 1px;
}

.meet-team-content p {
  width: 671px;
  height: 48px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter";
  letter-spacing: 1px;
  margin-top: 14px;
}

.meet-team-image {
  width: 1060px;
  height: 604px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.1);
  margin-top: 58px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}

.meet-team-image h3 {
  position: absolute;
  color: rgb(255, 255, 255);
  margin-top: 220px;
  margin-left: 20px;
  font-family: "inter";
}

.meet-team-image h4 {
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 240px;
  margin-left: 20px;
  font-family: "inter";
}

.image-1 h3 {
  position: absolute;
  color: rgb(255, 255, 255);
  margin-top: 240px;
  margin-left: 30px;
  font-family: "inter";
}

.image-1 h4 {
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 260px;
  margin-left: 30px;
  font-family: "inter";
}

.image-1 img {
  width: 326.67px;
  height: 272px;
  border-radius: 18px;
  background: rgba(0, 0, 0, 0.2);
  margin-top: 22px;
  margin-left: 15px;
  
}

.image-2 img {
  width: 326.67px;
  height: 272px;
  border-radius: 18px;
  background: rgba(0, 0, 0, 0.2);
  margin-top: 22px;
  margin-left: 13px;
}

.image-2 h3 {
  position: absolute;
  color: rgb(255, 255, 255);
  margin-top: 240px;
  margin-left: 30px;
  font-family: "inter";
}

.image-2 h4 {
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 260px;
  margin-left: 30px;
  font-family: "inter";
}

.image-3 img {
  width: 326.67px;
  height: 272px;
  border-radius: 18px;
  background: rgba(0, 0, 0, 0.2);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 22px;
  margin-left: 10px;
}

.image-3 h3 {
  position: absolute;
  color: rgb(255, 255, 255);
  margin-top: 240px;
  margin-left: 25px;
  font-family: "inter";
}

.image-3 h4 {
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 260px;
  margin-left: 25px;
  font-family: "inter";
}

.image-4 img {
  width: 326.67px;
  height: 272px;
  border-radius: 18px;
  background: rgba(0, 0, 0, 0.2);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 15px;
}

.image-4 h3 {
  position: absolute;
  color: rgb(255, 255, 255);
  margin-top: 220px;
  margin-left: 30px;
  font-family: "inter";
}

.image-4 h4 {
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 240px;
  margin-left: 30px;
  font-family: "inter";
}

.image-5 img {
  width: 326.67px;
  height: 272px;
  border-radius: 18px;
  background: rgba(0, 0, 0, 0.2);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 13px;
}

.image-5 h3 {
  position: absolute;
  color: rgb(255, 255, 255);
  margin-top: 220px;
  margin-left: 30px;
  font-family: "inter";
}

.image-5 h4 {
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 240px;
  margin-left: 30px;
  font-family: "inter";
}

.image-6 img {
  width: 326.67px;
  height: 272px;
  border-radius: 18px;
  background: rgba(0, 0, 0, 0.2);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 10px;
}

.image-6 h3 {
  position: absolute;
  color: rgb(255, 255, 255);
  margin-top: 220px;
  margin-left: 25px;
  font-family: "inter";
}

.image-6 h4 {
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 240px;
  margin-left: 25px;
  font-family: "inter";
}

.fitness-container {
  max-width: 1440px;
  height: 489px;
  margin: 0 auto;
  border: 1px solid rgb(34, 34, 34);
  background: rgb(34, 34, 34);
}

.fitness-content {
  width: 1059px;
  height: 249px;
  margin: 0 auto;
  margin-top: 66px;
  display: flex;
  justify-content: space-between;
}

.fitness-description {
  width: 443px;
  height: 200px;
}

.fitness-description h1 {
  width: 276px;
  height: 84px;
  color: rgb(230, 83, 60);
  font-family: "Inter";
  font-size: 70px;
  font-weight: 800;
  letter-spacing: 0.5px
}

.fitness-description p {
  width: 443px;
  height: 90px;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px
}

.fitness-task-1 {
  width: 181px;
  height: 249px;
}

.fitness-task-1 h2 {
  width: 181px;
  height: 38px;
  color: rgb(255, 255, 255);
  font-family: "Inter";
  font-size: 32px;
  font-weight: 700;
}

.fitness-task-item {
  margin-top: 39px;
}

.fitness-task-1 h4 {
  width: 181px;
  height: 43px;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Inter";
  font-size: 22px;
  font-weight: 400;
}

.footer-line {
  max-width: 1059px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  margin-right: 191.5px;
  margin-left: 189px;
  margin-top: 79px;
}

.footer-description {
  width: 350px;
  height: 24px;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Inter";
  font-size: 22px;
  font-weight: 400;
  margin-top: 36px;
}

/* footer section end */
/* responsive starts */
@media screen and (max-width: 576px) {

  .body-shape-container,
  .change-habits-container-rules,
  .run-extra-container,
  .bmi-chart-calculation,
  .fitness-content {
    flex-direction: column;
  }
  .fitness-container {
    max-width: 275px;
    height: 900px;
    margin-left: 0;
  }
  .fitness-content {
    width: 1059px;
    height: 249px;
    margin: 0 auto;
    margin-top: 50px;
    margin-left: 8px;
  }
  .fitness-description {
    width: 443px;
    height: 200px;
  }
  .fitness-description h1 {
    width: 270px;
    height: 70px;
    font-size: 50px;
    margin-top: 0;
  }
  .fitness-description p {
    width: 250px;
    height: 100px;
    margin-top: 10px;
    font-size: 12px;
    letter-spacing: 0px
  }
  .fitness-task-1 {
    margin-top: 20px;
  }
  .fitness-task-1 h2 {
    font-size: 28px;
  }
  .fitness-task-1 h4 {
    font-size: 18px;
  }
  .footer-line {
    max-width: 250px;
    margin-right: 0;
    margin-left: 10px;
    margin-top: 509px;
  }
  .footer-description {
    width: 250px;
    font-size: 14px;
    margin-left: 26px;
  }
  .meet-team-content {
    width: 270px;
    height: 120px;
    margin-left: 0;
  }
  .meet-team-content h2 {
    width: 250px;
    height: 58px;
    font-size: 28px;
  } 
  .meet-team-content p {
    width: 250px;
    font-size: 12px;
    letter-spacing: 0px;
  }
  .meet-team-image {
      grid-template-columns: repeat(1, 1fr);
    width: 270px;
    height: 1650px;
  }
  .item {
    font-size: 10px;
    margin-top: 0;
  }
  #item-1 {
    font-size: 12px;
  }
  #item-2 {
    font-size: 12px;
  }
  .item-container {
    width: 260px;
    margin-left: 8px;
    margin-bottom: 0px;
  }
  .calculate-bmi {
    width: 577px;
    height: 386px;
    margin-right: 189px;
    margin-top: 4px;
  }
  .calculate-bmi h2 {
    font-size: 24px;
    margin-left: 8px;
    margin-top: 20px;
  }
  .calculate-bmi p {
    width: 260px;
    font-size: 12px;
    margin-left: 8px;
    letter-spacing: 0px;
  }
  .calculate-bmi button{
    font-size: 18px;
  }
  .box-container {
    width: 260px;
    margin-left: 7px;
  }
  .bmi-chart-calculation {
    max-width: 275px;
    height: 700px;
    justify-content: center;
    margin-left: 0;
    margin-top: 30px;
  }
  .bmi-chart h2 {
    font-size: 22px;
    margin-left: 8px;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .bmi-container {
    height: 120px;
    margin: 0 auto;
    margin-top: 78px;
  }
  .bmi-container h1 {
    margin-left: 8px;
    height: 58px;
    font-size: 33px;
  }
  .bmi-container p {
    width: 260px;
    height: 48px;
    margin-left: 8px;
    margin-top: 0px;
    letter-spacing: 0px;
  }
  .run-extra-container{
    width: 275px;
    height: 645px;
    margin-left: 0;
  }
  .run-extra-content{
    margin-left: 0;
  }
  .run-extra-content h1 {
    width: 443px;
    height: 116px;
    font-size: 36px;
    margin-left: 5px;
  }
  .run-extra-content p {
    width: 255px;
    height: 75px;
    font-size: 14px;
    letter-spacing: 0px;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 30px;
  }
  .run-extra-content button{
    margin-left: 30px;
    width: 50%;
    font-size: 16px;
  }
  .run-image img {
    width: 240px;
    height: 240px;
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 100px;
    object-fit: cover;
  }
  .banner {
    width: 275px;
    height: 1150px;
    margin-left: 0;
  }
  .navbar {
    margin-left: 0;
    width: 271px;
    height: 43px;
  }
  .hamburger i {
    display: block;
    margin-left: 0;
  }
  .nav-title h3 {
    font-size: 32px;
  }
  .nav-links {
    display: none;
  }
  .body-shape-container {
    width: 482px;
    margin-left: 0;
  }
  .body-shape-content {
    width: 354px;
    height: 360px;
  }
  .body-shape-title h1 {
    width: 240px;
    height: 160px;
    font-size: 40px;
    font-weight: 800;
    line-height: 90px;
    line-height: 120%;
    letter-spacing: 0;
    margin-left: 10px;
  }
  .shape {
    font-weight: 400;
    font-size: 75px;
  }
  .body-shape-description p {
    width: 240px;
    height: 48px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    margin-left: 10px;
  }
  .body-shape-btn {
    width: 240px;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 60px;
  }
  .btn-primary {
    width: 200px;
    height: 50px;
    font-size: 10px;
    margin-left:30px;
  }
  .btn-secondary {
    width: 200px;
    height: 50px;
    font-size: 10px;
    margin-left: 10px;
  }
  .body-shape-image {
    margin-top: 40px;
  }
.card-1{
  width: 150px;
  height: 90px;
  margin-top: 860px;
margin-left: 10px;
}
.card-2{
  width: 150px;
  height: 90px;
  margin-top: 620px;
  margin-left: 110px;
}
.card-2 h1 {
  font-size: 30px;
}
  .card-2 p {
letter-spacing: 0px;
margin-left: 15px;
font-size: 12px;
  }
.card-1 h2 {
  font-size: 20px;
  margin-left: 60px;
  margin-top: 20px;
}

.card-1 p {
  font-size: 12px;
  margin-left: 60px;
  letter-spacing: 0px;
}

.circle {
  width: 30px;
  height: 30px;
 margin-top: 890px;
  margin-left: 25px;
}
.space{
  width: 275px;
  margin-left: 0;
  display: none;
}
.body{
  width: 275px;
  height: 4800px;
  margin-left: 0;
}
.change-habits-container {
  width: 275px;
  height: 1200px;
  margin-left: 0;
}
.change-habits-content {
  width: 260px;
  margin-left: 0;
}
.change-habits-content h1 {
  height: 58px;
  letter-spacing: 0px;
  font-size: 26px;
  margin-top: 10px;
}
.change-habits-content p {
  width: 250px;
  letter-spacing: 0px;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}
  .image-1 img {
    width: 250px;
    height: 250px;
    margin-left: 8px;
  }
  .image-2 img {
    width: 250px;
    height: 250px;
    margin-left: 8px;
    margin-top: 10px;
  }
  .image-3 img {
    width: 250px;
    height: 250px;
    margin-left: 8px;
    margin-top: 10px;
  }
  .image-4 img {
    width: 250px;
    height: 250px;
    margin-left: 8px;
    margin-top: 10px;
  }
  .image-5 img {
    width: 250px;
    height: 250px;
    margin-left: 8px;
    margin-top: 10px;
  }
  .image-6 img {
    width: 250px;
    height: 250px;
    margin-left: 8px;
    margin-top: 10px;
  }
  .image-1 h3 {
    margin-top: 220px;
  }
  .image-1 h4 {
    margin-top: 240px;
  }
  .image-2 h3 {
    margin-top: 210px;
  }
  .image-2 h4 {
    margin-top: 230px;
  }
  .image-3 h3 {
    margin-top: 210px;
  }
  .image-3 h4 {
    margin-top: 230px;
  }
  .image-4 h3 {
    margin-top: 210px;
  }
  .image-4 h4 {
    margin-top: 230px;
  }
  .image-5 h3 {
    margin-top: 210px;;
  }
  .image-5 h4 {
    margin-top: 230px;
  }
  .image-6 h3 {
    margin-top: 210px;
  }
  .image-6 h4 {
    margin-top: 230px;
  }
  
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .body-shape-container{
    width: 600px;
    margin-left: 10px;
    margin-top: 32px;
    display: flex;
    height: 1000px;
    flex-direction: column;
  }
  .body-shape-title h1{
    font-size: 60px;
  }
  .body-shape-description p{
    width: 400px;
font-size: 14px;
margin-top: 0;
margin-bottom: 40px;
  }
  .body-shape-btn{
    width: 350px;
  }
  .btn-primary {
    width: 155px;
    height: 54px;
    font-size: 14px;
  }
  .btn-secondary {
    width: 155px;
    font-size: 14px;
  }
  .banner {
    max-width: 500px;
    height: 1200px;
    margin: 0 auto;
    margin-left: 0;
  }
  .body {
    width: 500px;
    height: 3000px;
    margin-left: 0;
  }
  .navbar {
    justify-content: left;
  }
  .nav-links {
    width: 250px;
    margin-left: 70px;
    font-size: 12px;
  }
  .nav-links a {
    margin-right: 10px;
  }
  .card-1 {
    margin-left: 0;
    margin-top: 890px;
  }
  .circle {
    margin-left: 20px;
    margin-top: 920px;
  }
.space{
  display: none;
}
  .card-2 {
    margin-left: 200px;
    margin-top: 650px;
  }
  .change-habits-container {
    width: 480px;
    height: 770px;
  }
  .change-habits-content {
    width: 400px;
    height: 120px;
    margin-left: 30px;  
  }
  .change-habits-content h1 {
    width: 400px;
    height: 58px;
    font-size: 32px;
  }
  .change-habits-content p {
    width: 400px;
    height: 48px;
    font-size: 12px;
    line-height: 15px;
  }
  .change-habits-container-rules {
    width: 450px;
    height: 700px;
    justify-content: center;
    display: grid;
    margin-top: 0;
    grid-template-columns: repeat(2, (1fr));
  }
  .rules-1 {
    width: 175px;
    height:175px;
  }
  .rules-1 img {
    width: 100px;
    height: 100px;
    margin-left: 46px;
  }
  .rules-2 img {
    width: 100px;
    height: 100px;
    margin-left: 46px;
  }
  .rules-2 img {
    width: 100px;
    height: 100px;
    margin-left: 46px;
  }
  .rules-3 img {
    width: 100px;
    height: 100px;
    margin-left: 46px;
  }
  .rules-4 img {
    width: 100px;
    height: 100px;
    margin-left: 46px;
  }
  .rules-1-description {
    width: 200px;
    height: 64px;
    margin-top: 10px;
  }
  .rules-1-description h4 {
    width: 200px;
    height: 20px;
    font-size: 16px;
  }
  .rules-1-description p {
    width: 200px;
    height: 34px;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.3px;
    margin-top: 1px;
  }
  .run-extra-container {
    width: 480px;
    height: 371px;
    margin-left: 0px;
    margin-top: 100px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
  }
  .run-extra-content {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .run-extra-content h1 {
    width: 200px;
    height: 90px;
    font-size: 28px;
  }
  .run-extra-content p {
    width: 200px;
    height: 100px;
    font-size: 12px;
    letter-spacing: 0px;
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .run-extra-content button{
    width: 160px;
    font-size: 14px;
  }
  .run-image img {
    width: 200px;
    height: 300px;
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 52px;
    margin-bottom: 29px;
    object-fit: cover;
  }
  .bmi-container {
    width: 480px;
    height: 120px;
    margin: 0 auto;
    margin-top: 78px;
  }
  .bmi-container h1 {
    width: 400px;
    height: 58px;
    font-size: 36px;
  }
  .bmi-container p {
    width: 400px;
  }
  .bmi-chart-calculation {
    max-width: 500px;
    height: 780px;
    margin-left: 0;
    flex-direction: column;
  }
  .bmi-chart h2 {
    margin-left: 20px;
    margin-top: 52px;
    margin-bottom: 52px;
  }
  .item-container {
    margin-left: 20px;
    margin-bottom: 0px;
  }
  .calculate-bmi {
    width: 480px;
    height: 386px;
    margin-left: 20px;
    margin-top: 0px;
  }
  .calculate-bmi p {
    width: 400px;
  }
  .box-container {
    width: 420px;
    margin-top: 20px;
  }
  .meet-team-container {
    width: 450px;
    margin-left: 0;
  }
  .meet-team-content {
    width: 450px;
  }
  .meet-team-content h2 {
    font-size: 36px;
  }
  .meet-team-content p {
    width: 400px;
  }
  .meet-team-image {
    width: 480px;
    height: 350px;
  }
  .image-1 h3 {
    margin-top: 130px;
    font-size: 12px;
  }
  .image-1 h4 {
    margin-top: 145px;
    font-size: 10px;
  }
  .image-2 h3 {
    margin-top: 130px;
    font-size: 12px;
  }
  .image-2 h4 {
    margin-top: 145px;
    font-size: 10px;
  }
  .image-3 h3 {
    margin-top: 130px;
    font-size: 12px;
  }
  .image-3 h4 {
    margin-top: 145px;
    font-size: 10px;
  }
  .image-4 h3 {
    margin-top: 110px;
    font-size: 12px;
  }
  .image-4 h4 {
    margin-top: 125px;
    font-size: 10px;
  }
  .image-5 h3 {
    margin-top: 110px;
    font-size: 12px;
  }
  .image-5 h4 {
    margin-top: 125px;
    font-size: 10px;
  }
  .image-6 h3 {
    margin-top: 110px;
    font-size: 12px;
  }
  .image-6 h4 {
    margin-top: 125px;
    font-size: 10px;
  }
  .image-1 img {
    width: 150px;
    height: 150px;
    margin-top: 22px;
    margin-left: 10px;
  }
  .image-2 img {
    width: 150px;
    height: 150px;
    margin-top: 22px;
    margin-left: 5px;
  }
  .image-3 img {
    width: 150px;
    height: 150px;
    margin-top: 22px;
    margin-left: 0px;
  }
  .image-4 img {
    width: 150px;
    height: 150px;
    margin-left: 10px;
  }
  .image-5 img {
    width: 150px;
    height: 150px;
    margin-left: 5px;
  }
  .image-6 img {
    width: 150px;
    height: 150px;
    margin-left: 0px;
  }
  .fitness-container {
    max-width: 500px;
    height: 900px;
    margin-left: 0;
  }
  .fitness-content {
    width: 480px;
    height: 650px;
    flex-direction: column;
  }
  .fitness-description {
    width: 443px;
    height: 200px;
  }
  .fitness-description h1 {
    width: 276px;
    height: 80px;
    font-size: 60px;
  }
  .fitness-description p {
    width: 443px;
    height: 90px;
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: 20px;
  }
  .fitness-task-1 {
    width: 181px;
    height: 249px;
    margin-bottom: 20px;
  }
  .fitness-task-1 h2 {
    font-size: 28px;
  }
  .fitness-task-item {
    margin-top: 39px;
  }
  .fitness-task-1 h4 {
    font-size: 18px;
  }
  .footer-line {
    max-width: 400px;
    margin-right: 0px;
    margin-left: 30px;
    margin-top: 80px;
  }
  .footer-description {
    font-size: 18px;
    margin-left: 100px;
  }
}